<h3>Привіт юний подаван!</h3>

Тебе запрошує {{ nickname }} пройти реєстрацію для користуванням новим Трелло

Для реєстрації і підключення до дошки пройди за адресою: <a href="{{ uri }}">{{ uri }}</a>.

Будемо раді тебе бачити у нас :)